<div class="ion-text-center">
    <img class="img1" src="assets/logopagina.svg">
  
  </div>

<div class="container"><h3>Bienvenido, ya que no tienes vehiculo particular puedes reservar un viaje</h3></div>
<div class="container"*ngFor="let iviaje of iviajes">

    
    <h4 class="nombre">{{iviaje.Nombre}}</h4>
    <h4 class="dia"  >{{iviaje.Dia}}</h4>
    <h4 class="inicio">{{iviaje.Inicio}}</h4>
    <h4 class="final">{{iviaje.Final}}</h4>
    <h4 class="precio">{{iviaje.Precio}}</h4>
    <ion-button expand='block'(click)="siguiente()"> Reservar</ion-button>

</div>
