.container {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          padding: 10px;
          border-radius: 10px;
          border-width: 2px;
          margin-top: 20px;       
}