<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>
      TeLlevoAPP
      <ion-button class="logout"  (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <h3 class="form ion-text-center"> Bienvenido, {{dato}}
  </h3>
  
    <app-componente-agregar *ngIf="automovil === 'SI'"> </app-componente-agregar>
    <app-componente-reservar *ngIf="automovil === 'NO'"></app-componente-reservar>
    

    
    
  </ion-content>