<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>
      TeLlevoAPP
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div class="ion-text-center">
    
  
  </div>
    <div class="container">
      <div class="form ion-text-center">
        <h2>Login </h2>
        <ion-item lines='none'>
          <ion-input placeholder='Email'></ion-input>
        </ion-item>
    
        <ion-item lines='none'>
          <ion-input placeholder='Password'></ion-input>
        </ion-item>
        <ion-button expand='block'(click)="siguiente()"> Iniciar Sesion</ion-button>
      </div>
    </div>
  </ion-content>