ion-content{
  --background: linear-gradient( 135deg, #FFDB01 10%, #0E197D 100%);
}


ion-button{
  --background: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
  margin-top: 20px;
}
.img1{
  margin-top: 100px;
  height: 100px;
}

  
