
<ion-content >
  <div class="ion-text-center">
    <img class="img1" src="assets/logopagina.svg">
  
  </div>

    <div class="container">
      <h4 class="form ion-text-center"> Ya que tienes un auto puedes programar un viaje de salida
        
      </h4>
      
      <div class="form ion-text-center">
        <h2>Agregar Hora </h2>
        
        
        <ion-item lines='none'>
          <ion-input type="text"[(ngModel)]="viaje.Nombre" placeholder='Nombre'></ion-input>
          
        </ion-item>
        
        <ion-item>
          <ion-label>Dia y Hora a programar</ion-label>
          <ion-datetime displayFormat="DD / hh:mm" [(ngModel)]="viaje.Dia"></ion-datetime>
        </ion-item>
        <ion-item lines='none'>
          <ion-input type="text" placeholder='Precio' [(ngModel)]="viaje.Precio"></ion-input>
        </ion-item>
        <ion-item lines='none'>
          <ion-input type="text" placeholder='Inicio' [(ngModel)]="viaje.Inicio"></ion-input>
        </ion-item>
        <ion-item lines='none'>
          <ion-input type="text" placeholder='Destino' [(ngModel)]="viaje.Final"></ion-input>
        </ion-item>
        <ion-button expand='block'(click)="crearViaje()"> Agregar </ion-button>
        <ion-button expand='block'(click)="logout()"> Cancelar</ion-button>
        
      </div>
    </div>
    
  </ion-content>