<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>
      TeLlevoAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="mycolor">
      <ion-title size="large">TeLlevoAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>

  
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
    <ion-button expand="block"(click)="siguiente()"> Iniciar Sesion</ion-button>
    
  </ion-card>
    
    


</ion-content>
